In [1]:
# Import pandas library
import pandas as pd

# Read the csv file and store it in a DataFrame object
df = pd.read_csv(r"audible datasets\audible_cleaned.csv")

# Print the first five rows of the DataFrame
print(df.head())
df.info()

                                         name           author  \
0                  Geronimo Stilton #11 & #12  GeronimoStilton
1                            The Burning Maze      RickRiordan
2                                The Deep End       JeffKinney
3                        Daughter of the Deep      RickRiordan
4  The Lightning Thief: Percy Jackson, Book 1      RickRiordan

         narrator  time releasedate language  stars  price  ratings
0      BillLobely   140  2008-04-08  English    5.0  468.0     34.0
1   RobbieDaymond   788  2018-01-05  English    4.5  820.0     41.0
2      DanRussell   123  2020-06-11  English    4.5  410.0     38.0
3  SoneelaNankani   676  2021-05-10  English    4.5  615.0     12.0
4  JesseBernstein   600  2010-01-13  English    4.5  820.0    181.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  int64
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  float64
 7   price        87489 non-null  float64
 8   ratings      87489 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.0+ MB

In [14]:
# Define a function to get the best books based on some criteria
def get_best_books(df, min_stars=4.5, min_ratings=100, max_price=1000):
  # Filter the DataFrame by the criteria
  filtered_df = df[(df['stars'] >= min_stars) & (df['ratings'] >= min_ratings) & (df['price'] <= max_price)]
  # Sort the filtered DataFrame by ratings in descending order
  sorted_df = filtered_df.sort_values(by='ratings', ascending=False)
  # Return the sorted DataFrame
  return sorted_df

# Call the function and print the first ten rows of the result
best_books = get_best_books(df)
best_books.head(10)

,name,author,narrator,time,releasedate,language,stars,price,ratings
62272,Atomic Habits,JamesClear,JamesClear,335,2018-10-18,English,5.0,820.0,12573.0
35942,Atomic Habits,JamesClear,JamesClear,335,2018-10-18,English,5.0,820.0,12569.0
62292,Ikigai,"HéctorGarcía,FrancescMiralles",NaokoMori,203,2017-09-18,English,4.5,615.0,6981.0
58570,The Psychology of Money,MorganHousel,ChrisHill,348,2020-08-09,English,4.5,668.0,5973.0
57858,The Psychology of Money,MorganHousel,ChrisHill,348,2020-08-09,English,4.5,668.0,5972.0
41082,Sapiens,YuvalNoahHarari,DerekPerkins,918,2015-04-30,English,5.0,957.0,5500.0
57863,Rich Dad Poor Dad,RobertT.Kiyosaki,TimWheeler,369,2012-06-15,English,4.5,837.0,5324.0
26754,Becoming,MichelleObama,MichelleObama,1143,2018-11-13,English,4.5,957.0,2924.0
62289,How to Win Friends and Influence People,DaleCarnegie,ShernazPatel,485,2018-08-11,English,4.5,155.0,2494.0
62290,Can't Hurt Me,DavidGoggins,"DavidGoggins,AdamSkolnick",817,2018-11-28,English,5.0,836.0,2277.0

In [3]:
# Define a function to get the most popular books with the most price
def get_popular_expensive_books(df, min_ratings=100):
  # Filter the DataFrame by the minimum ratings
  filtered_df = df[df['ratings'] >= min_ratings]
  # Sort the filtered DataFrame by price and ratings in descending order
  sorted_df = filtered_df.sort_values(by=['price', 'ratings'], ascending=False)
  # Return the sorted DataFrame
  return sorted_df

# Call the function and print the first ten rows of the result
popular_expensive_books = get_popular_expensive_books(df)
popular_expensive_books.head(10)

,name,author,narrator,time,releasedate,language,stars,price,ratings
48143,Sherlock Holmes: The Definitive Collection,"StephenFry-introductions,ArthurConanDoyle",StephenFry,4317,2017-02-27,English,5.0,3037.0,838.0
57861,The Intelligent Investor Rev Ed.,BenjaminGraham,LukeDaniels,1068,2015-07-07,English,4.5,2082.0,302.0
27282,Good to Great,JimCollins,JimCollins,601,2010-07-13,English,4.5,1800.0,157.0
58578,Think and Grow Rich,NapoleonHill,"NapoleonHill,NapoleonHillFoundation",460,2014-10-14,English,4.5,1774.0,128.0
22174,A Promised Land,BarackObama,BarackObama,1750,2020-11-17,English,4.5,1708.0,1636.0
49814,A Fine Balance,RohintonMistry,VikasAdam,1549,2018-06-19,English,4.5,1673.0,110.0
7555,"Harry Potter and the Deathly Hallows, Book 7",J.K.Rowling,StephenFry,1440,2015-11-20,English,5.0,1599.0,1006.0
7557,"Harry Potter and the Goblet of Fire, Book 4",J.K.Rowling,StephenFry,1337,2015-11-20,English,5.0,1599.0,664.0
7552,"Harry Potter and the Order of the Phoenix, Book 5",J.K.Rowling,StephenFry,1818,2015-11-20,English,5.0,1599.0,636.0
7556,"Harry Potter and the Half-Blood Prince, Book 6",J.K.Rowling,StephenFry,1287,2015-11-20,English,5.0,1599.0,572.0

In [11]:
# Define a function to get the books with the highest average score based on stars, price and ratings
def get_highest_score_books(df, min_ratings=100):
  # Filter the DataFrame by the minimum ratings
  filtered_df = df[df['ratings'] >= min_ratings]
  # Normalize the stars, price and ratings columns to have values between 0 and 1
  normalized_df = filtered_df.copy()
  normalized_df['stars'] = (normalized_df['stars'] - normalized_df['stars'].min()) / (normalized_df['stars'].max() - normalized_df['stars'].min())
  normalized_df['price'] = (normalized_df['price'] - normalized_df['price'].min()) / (normalized_df['price'].max() - normalized_df['price'].min())
  normalized_df['ratings'] = (normalized_df['ratings'] - normalized_df['ratings'].min()) / (normalized_df['ratings'].max() - normalized_df['ratings'].min())
  # Define the weights for each column
  weights = {'stars': 0.4, 'price': 0.3, 'ratings': 0.3}
  # Calculate the weighted average score for each row
  normalized_df['score'] = normalized_df['stars'] * weights['stars'] + normalized_df['price'] * weights['price'] + normalized_df['ratings'] * weights['ratings']
  # Sort the DataFrame by score in descending order
  sorted_df = normalized_df.sort_values(by='score', ascending=False)
  # Return the sorted DataFrame with the original values of stars, price and ratings
  return filtered_df.loc[sorted_df.index]

# Call the function and print the first ten rows of the result
highest_score_books = get_highest_score_books(df)
highest_score_books.head(20)

,name,author,narrator,time,releasedate,language,stars,price,ratings
62272,Atomic Habits,JamesClear,JamesClear,335,2018-10-18,English,5.0,820.0,12573.0
35942,Atomic Habits,JamesClear,JamesClear,335,2018-10-18,English,5.0,820.0,12569.0
48143,Sherlock Holmes: The Definitive Collection,"StephenFry-introductions,ArthurConanDoyle",StephenFry,4317,2017-02-27,English,5.0,3037.0,838.0
41082,Sapiens,YuvalNoahHarari,DerekPerkins,918,2015-04-30,English,5.0,957.0,5500.0
7555,"Harry Potter and the Deathly Hallows, Book 7",J.K.Rowling,StephenFry,1440,2015-11-20,English,5.0,1599.0,1006.0
7557,"Harry Potter and the Goblet of Fire, Book 4",J.K.Rowling,StephenFry,1337,2015-11-20,English,5.0,1599.0,664.0
7552,"Harry Potter and the Order of the Phoenix, Book 5",J.K.Rowling,StephenFry,1818,2015-11-20,English,5.0,1599.0,636.0
7556,"Harry Potter and the Half-Blood Prince, Book 6",J.K.Rowling,StephenFry,1287,2015-11-20,English,5.0,1599.0,572.0
60802,The Da Vinci Code,DanBrown,JeffHarding,999,2005-05-12,English,5.0,1435.0,240.0
28425,The Psychology of Selling,BrianTracy,BrianTracy,319,2014-10-14,English,5.0,1439.0,212.0
62290,Can't Hurt Me,DavidGoggins,"DavidGoggins,AdamSkolnick",817,2018-11-28,English,5.0,836.0,2277.0
27292,The E-Myth Revisited,MichaelE.Gerber,MichaelE.Gerber,485,2004-12-26,English,5.0,1350.0,101.0
79753,"Harry Potter and the Philosopher's Stone, Book 1",J.K.Rowling,StephenFry,573,2015-11-20,English,5.0,999.0,1425.0
7551,"Harry Potter and the Philosopher's Stone, Book 1",J.K.Rowling,StephenFry,573,2015-11-20,English,5.0,999.0,1423.0
44497,The Martian,AndyWeir,WilWheaton,659,2020-01-01,English,5.0,1171.0,274.0
19431,Will,"WillSmith,MarkManson",WillSmith,976,2021-09-11,English,5.0,1093.0,591.0
44433,Project Hail Mary,AndyWeir,RayPorter,970,2021-04-05,English,5.0,1003.0,926.0
7559,"Harry Potter and the Chamber of Secrets, Book 2",J.K.Rowling,StephenFry,665,2015-11-20,English,5.0,999.0,845.0
62371,A New Earth,EckhartTolle,EckhartTolle,552,2004-12-26,English,5.0,1131.0,207.0
48157,P.G. Wodehouse Volume 1,P.G.Wodehouse,StephenFry,2437,2020-12-17,English,5.0,1138.0,165.0

In [ ]:
csv one
```csv
"bookId","title","series","author","rating","description","language","isbn","genres","characters","bookFormat","edition","pages","publisher","publishDate","firstPublishDate","awards","numRatings","ratingsByStars","likedPercent","setting","coverImg","bbeScore","bbeVotes","price"
"2767052-the-hunger-games","The Hunger Games","The Hunger Games #1","Suzanne Collins","4.33","WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and once girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.Sixteen-year-old Katniss Everdeen regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead before—and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love.","English","9780439023481","['Young Adult', 'Fiction', 'Dystopia', 'Fantasy', 'Science Fiction', 'Romance', 'Adventure', 'Teen', 'Post Apocalyptic', 'Action']","['Katniss Everdeen', 'Peeta Mellark', 'Cato (Hunger Games)', 'Primrose Everdeen', 'Gale Hawthorne', 'Effie Trinket', 'Haymitch Abernathy', 'Cinna', 'President Coriolanus Snow', 'Rue', 'Flavius', 'Lavinia (Hunger Games)', 'Marvel', 'Glimmer', 'Clove', 'Foxface', 'Thresh', 'Greasy Sae', 'Madge Undersee', 'Caesar Flickerman', 'Claudius Templesmith', 'Octavia (Hunger Games)', 'Portia (hunger Games)']","Hardcover","First Edition","374","Scholastic Press","09/14/08","","['Locus Award Nominee for Best Young Adult Book (2009)', 'Georgia Peach Book Award (2009)', 'Buxtehuder Bulle (2009)', 'Golden Duck Award for Young Adult (Hal Clement Award) (2009)', ""Grand Prix de l'Imaginaire Nominee for Roman jeunesse étranger (2010)"", 'Books I Loved Best Yearly (BILBY) Awards for Older Readers (2012)', ""West Australian Young Readers' Book Award (WAYRBA) for Older Readers (2010)"", ""Red House Children's Book Award for Older Readers & Overall (2010)"", 'South Carolina Book Award for Junior and Young Adult Book (2011)', 'Charlotte Award (2010)', 'Colorado Blue Spruce Young Adult Book Award (2010)', 'Teen Buckeye Book Award (2009)', ""Pennsylvania Young Readers' Choice Award for Young Adults (2010)"", 'Rhode Island Teen Book Award (2010)', ""Dorothy Canfield Fisher Children's Book Award (2010)"", 'Evergreen Teen Book Award (2011)', 'Soaring Eagle Book Award (2009)', 'Milwaukee County Teen Book Award Nominee (2010)', 'Sakura Medal for Middle School Book (2010)', 'Michigan Library Association Thumbs Up! Award (2009)', 'Florida Teens Read (2009)', 'Deutscher Jugendliteraturpreis for Preis der Jugendjury (2010)', 'Iowa High School Book Award (2011)', 'New Mexico Land of Enchantment Award for Young Adult (2011)', 'Eliot Rosewater Indiana High School Book Award (2010)', 'The Inky Awards for Silver Inky (2009)', 'California Young Readers Medal for Young Adult (2011)', 'Lincoln Award (2011)', 'Kinderboekwinkelprijs (2010)', 'Missouri Truman Readers Award (2011)', 'CYBILS Award for Young Adult Fantasy & Science Fiction (2008)', 'Literaturpreis der Jury der jungen Leser for Jugendbuch (2010)', 'The Inky Awards Shortlist for Silver Inky (2009)', 'Prix Et-lisez-moi (2011)', 'Missouri Gateway Readers Award (2011)', 'Oklahoma Sequoyah Award for High School and Intermediate (2011)', 'Premio El Templo de las Mil Puertas for Mejor novela extranjera perteneciente a saga (2009)', ""Rebecca Caudill Young Readers' Book Award (2011)"", 'LovelyBooks Leserpreis for Fantasy (2009)', 'LovelyBooks Leserpreis for Bestes Cover/Umschlag (2009)', 'Premi Protagonista Jove for Categoria 13-14 anys (2010)']","6376780","['3444695', '1921313', '745221', '171994', '93557']","96","['District 12, Panem', 'Capitol, Panem', 'Panem (United States)']","https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg","2993816","30516",5.09
"2.Harry_Potter_and_the_Order_of_the_Phoenix","Harry Potter and the Order of the Phoenix","Harry Potter #5","J.K. Rowling, Mary GrandPré (Illustrator)","4.50","There is a door at the end of a silent corridor. And it’s haunting Harry Pottter’s dreams. Why else would he be waking in the middle of the night, screaming in terror?Harry has a lot on his mind for this, his fifth year at Hogwarts: a Defense Against the Dark Arts teacher with a personality like poisoned honey; a big surprise on the Gryffindor Quidditch team; and the looming terror of the Ordinary Wizarding Level exams. But all these things pale next to the growing threat of He-Who-Must-Not-Be-Named - a threat that neither the magical government nor the authorities at Hogwarts can stop.As the grasp of darkness tightens, Harry must discover the true depth and strength of his friends, the importance of boundless loyalty, and the shocking price of unbearable sacrifice.His fate depends on them all.","English","9780439358071","['Fantasy', 'Young Adult', 'Fiction', 'Magic', 'Childrens', 'Adventure', 'Audiobook', 'Middle Grade', 'Classics', 'Science Fiction Fantasy']","['Sirius Black', 'Draco Malfoy', 'Ron Weasley', 'Petunia Dursley', 'Vernon Dursley', 'Dudley Dursley', 'Severus Snape', 'Rubeus Hagrid', 'Lord Voldemort', 'Minerva McGonagall', 'Neville Longbottom', 'Fred Weasley', 'George Weasley', 'Percy Weasley', 'Ginny Weasley', 'Colin Creevey', 'Filius Flitwick', 'Gilderoy Lockhart', 'Lucius Malfoy', 'Pomona Sprout', 'Arthur Weasley', 'Molly Weasley', 'Cho Chang', 'Cornelius Fudge', 'Remus Lupin', 'Sybil Trelawney', 'Stan Shunpike', 'Bellatrix Lestrange', 'Alastor Moody', 'Rita Skeeter', 'Luna Lovegood', 'Nymphadora Tonks', 'Dolores Umbridge', 'Dobby', 'Kingsley Shacklebolt', 'Padma Patil', 'Parvati Patil', 'Kreacher', 'Dean Thomas', 'Seamus Finnigan', 'Albus Dumbledore', 'Harry Potter', 'Hermione Granger', 'Lavender Brown']","Paperback","US Edition","870","Scholastic Inc.","09/28/04","06/21/03","['Bram Stoker Award for Works for Young Readers (2003)', 'Anthony Award for Young Adult (2004)', ""Mythopoeic Fantasy Award for Children's Literature (2008)"", 'Audie Award for Audiobook of the Year (2004)', 'Books I Loved Best Yearly (BILBY) Awards for Older Readers (2004)', 'Colorado Blue Spruce Young Adult Book Award (2006)', 'Golden Archer Award for Middle/Junior High (2005)', 'Deutscher Jugendliteraturpreis Nominee for Preis der Jugendjury (2004)', 'Carnegie Medal Nominee (2003)']","2507623","['1593642', '637516', '222366', '39573', '14526']","98","['Hogwarts School of Witchcraft and Wizardry (United Kingdom)', 'London, England']","https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546910265l/2.jpg","2632233","26923",7.38
```
csv two
```
name,author,narrator,time,releasedate,language,stars,price,ratings
Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-04-08,English,5.0,468.0,34.0
The Burning Maze,RickRiordan,RobbieDaymond,788,2018-01-05,English,4.5,820.0,41.0
The Deep End,JeffKinney,DanRussell,123,2020-06-11,English,4.5,410.0,38.0
```
is it possible to add the columns from csv two to csv one that is not available on csv one. 

the above are two sample data from two different csv files
1st one(csv one) has more data then the 2nd(csv two)
I want to add the data from csv two to csv one if the csv two has the same title available.
what are the ways to do that with python, if it's possible, cuz I don't want any mistakes